#explorerContainer{
    width: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
input{
    width: 70%;
    height: 30px;
    margin: 10px 10px 40px 10px;
    padding-left: 20px;
    border: 2px solid #8b3fad;
    border-radius: 30px;
    background-color: #dcd1eb;
}
/** mudei a cor do "border" era: #460464**/
.subtitle{
    width: 100%;
    padding-left: 60px;
}
.top{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.middle{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.bottom{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
