@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap');

body{
    color: #344034;
    font-family: "Inter";
    background-color: rgb(235, 248, 248);
}

main{
    display: flex;
    flex-direction: row;
}
#titleLastReviews{
    width: 100%;
    font-size: 35px;
    text-align: center;
}
#reviewCard{
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}